<!DOCTYPE html>
<html>
  <head>
    <title>Team Names</title>
    <link rel="stylesheet" href="./css/bootstrap-theme.css">
  </head>

  <body>
    <h1>
      <%= team_name %>
    </h1>
    <a href="/">Back!</a>

    <h2>
      <% teams_info[team_name].each do |test, name| %>
        <h3><%= test %>: </h3> <%= name %> <br>
      <% end %>
    </h2>


  </body>
</html>
